<table id="productsTable" class="table" action="/api/products" method="get">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Código</th>
            <th scope="col">Stock</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{products.id}}</td>
            <td>{{products.title}}</td>
            <td>{{products.description}}</td>
            <td>{{products.price}}</td>
            <td>{{products.thumbnail}}</td>
            <td>{{products.code}}</td>
            <td>{{products.stock}}</td>
            <td>{{products.status}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>